.section.about {
  padding: 0;
  padding-bottom: 94px;
}
.about__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;

  padding: 0;
  list-style: none;
}
.about__item + .about__item {
  margin-left: 30px;
}
.about__item {
  position: relative;
}
.about__overlay {
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0%;
  width: 370px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-image: linear-gradient(
    to left,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );

  position: absolute;
  bottom: 0;
}