.authorization__list {
  display: flex;

  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  font-weight: 500;
  font-size: 14px;

  line-height: 1.14;
  align-items: center;

  @media screen and (max-width: 1199.9px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.authorization__item {
  display: flex;

  list-style: none;

  @media screen and (max-width: 767.99px) {
    display: none;
  }

  @media screen and (max-width: 1199.99px) {
    flex-direction: column;
    & + & {
      margin-top: 10px;
    }
  }
}

.authorization__item + .authorization__item {
  @media screen and (min-width: $desktop) {
    margin-left: 30px;
  }
}

.authorization__link {
  display: flex;

  color: $secondary-text-color;
  padding: 0;
  margin: 0;
  text-decoration: none;

  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.authorization__svg {
  display: block;

  margin-right: 10px;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;

  fill: currentColor;
}
.envelope {
  width: 16px;
  height: 12px;
}
.smartphone {
  width: 10px;
  height: 16px;
}
