.clients__list {
  display: flex;
// flex-basis: 50%;
  
  
  margin: 0;
  padding: 0;

  list-style: none;

  // @media screen and (min-width:$mobile) {
  //   
  //   flex-basis: 50%;


  // }
  
}
 
.clients__item{
display: flex;
  @media screen and (min-width:$mobile) {
    flex-wrap: wrap;
   

  }
 
  @media screen and (min-width:$tablet) {
    //  flex-basis: 33,3%;


  }
}




.clients__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;

  width: 170px;
  height: 92px;

  padding: 0;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: #afb1b8;
  fill: currentColor;

  transition-property: color, border;
  transition-duration: $transition-duration, $transition-duration;
  transition-timing-function: $timing-bezier, $timing-bezier;
  
  


  
  &:hover,
  &:focus{
    color: $accent-color;
    border: 1px solid $accent-color;

  }

  
}
.clients__svg {
  width: 106px;
  height: 60px;
}