.clients__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  list-style: none;

  @media screen and (min-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: $tablet) {
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    margin: -15px;
  }
}

.clients__item {
  @media screen and (max-width: 767px) {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: $tablet) {
    margin: 15px;
    width: calc((100% - 6 * 15px) / 3);
  }
  @media screen and (min-width: $desktop) {
    margin: 15px;
    width: calc((100% - 12 * 15px) / 6);
  }
}

.clients__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;

  width: 100%;
  height: 92px;

  padding: 0;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: #afb1b8;
  fill: currentColor;

  transition-property: color, border;
  transition-duration: $transition-duration, $transition-duration;
  transition-timing-function: $timing-bezier, $timing-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}
.clients__svg {
  width: 106px;
  height: 60px;
}
