.section--dgc-white {
  background-color: #f5f4fa;
}

.employee {
  
  text-align: center;
  list-style: none;


  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
     }

  @media screen and (min-width: $tablet) {
    
  }
 
}

.employee__item {
  background-color: #ffffff;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  // margin-bottom: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
     }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    width: calc((100% - 120px) / 4);
    
  }
}

.employee__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 0;
  margin-bottom: 10px;
}

.employee__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee__text {
  color: $secondary-text-color;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

.employeeSocial {
  display: flex;
  justify-content: center;

  padding: 0;
  margin: 0;

  list-style: none;
}

.employeeSocial-item {
  display: flex;
}

.employeeSocial__item + .employeeSocial__item {
  margin-left: 10px;
}

.employeeSocial__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  margin: 0;
  padding: 0;

  color: #ffffff;
  fill: #afb1b8;

  transition-property: background-color, fill;
  transition-duration: $transition-duration, $transition-duration;
  transition-timing-function: $timing-bezier, $timing-bezier;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: currentColor;
  }
}

.employeeSocial__svg {
  width: 20px;
  height: 20px;
}
