.footer {
  background-color: $secondary-bg-color;
  color: #ffffff;

  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;

  @media screen and (min-width: $mobile) {
    text-align: center;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

/* адрес в подвале */

.address {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  ;
  @media screen and (max-width: 479.9px) {
    margin-bottom: 60px
  }

  @media screen and (min-width: $tablet) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 165px;
  }

  @media screen and (min-width: $desktop) {
    display: inline-block;
    margin-right: 70px;
  }
}

.contact-address {
  color: #ffffff;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  margin-bottom: 8px;

  @media screen and (min-width: $mobile) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: $tablet) {
    width: 232px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}

.contact-address__text {
  margin-bottom: 8px;
}

.contact-address__item:not(:last-child) {
  @media screen and (min-width: $desktop) {
    margin-bottom: 8px;
  }
}

.contact-address__list {
  list-style: none;
  color: rgba(255, 255, 255, 0.6);

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  @media screen and (min-width: $mobile) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    margin: 0;
  }
}

.contact-address__link {
  color: rgba(255, 255, 255, 0.6);
  
  @media screen and (min-width: $mobile) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    margin: 0px;
  }
}
.social {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.join {
  margin-bottom: 60px;

  @media screen and (min-width: $mobile) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $tablet) {
    display: inline-flex;
    flex-direction: column;
    width: 206px;
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-right: 93px;
  }
}

.join__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 20px;

  @media screen and (min-width: $mobile) {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
  }
}

.join__item {
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-bezier;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.join__item + .join__item {
  margin-left: 10px;
}

.join__text {
  margin-top: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 0;
    margin-bottom: 20px;
  }
}

.join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin: 0;
}

.join__svg {
  display: inline-block;
  fill: #ffffff;
  width: 20px;
  height: 22px;
}

.email {
  margin-bottom: 20px;

  // display: flex;
  //   justify-content: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.email__form {
  color: #ffffff;

  @media screen and (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: flex-end;
  }

  .email__fild {
    @media screen and (min-width: $mobile) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: column;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }

  
  .email__fild > .email__label {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: $desktop) {
      display: inline-block;
      margin-bottom: 20px;
    }
  }

  .email__fild .email__input {
    width: 100%;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 4px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.25;

    @media screen and (min-width: $mobile) {
      width: 450px;
      display: flex;
      @media screen and (min-width: $desktop) {
        width: 358px;
        height: 50px;
        margin-bottom: 0;
      }
    }
  }

  .email__input {
    color: #ffffff;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .email__btn {
    display: inline-flex;
    align-items: center;

    width: 200px;
    height: 50px;

    margin: 0;
    padding: 10px 29px;
    background-color: $accent-color;
    border-radius: 4px;
    border-color: transparent;

    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    fill: currentColor;
    &:hover,
    &:focus {
      background-color: #188ce8;
    }

    &:after {
      content: "";

      width: 24px;
      height: 24px;

      fill: #ffffff;
      background-image: url(../img/icons/send.svg);

      margin-left: 12px;

      background-size: contain;
      background-position: center;
    }
  }
}
