.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.main-header {
  padding: 16px;
  width: 100%;

    

  @media screen and (min-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
}
