.hero {
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;

  @media screen and (min-width:$desktop) {
    max-width: 1600px;
  }
  
}

.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  color: #ffffff;

  text-align: center;
  text-transform: uppercase;


}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/hero-480@1x.jpg);
  background-position: center;
  background-size: cover;

  background-color: $secondary-bg-color;

  @media screen and (min-width: 479.99px) {
    background-image: 
    linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),url(../img/hero/hero-480@1x.jpg);
  }
  @media (min-resolution: 2dppx) {
    background-image:linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/hero/hero-480@2x.jpg);
  }

  @media (min-resolution: 3dppx) {
    background-image:linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/hero/hero-480@3x.jpg);
  }

  @media screen and (min-width: $mobile) {
    background-image:linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/hero/hero-768@1x.jpg);
  }
  @media (min-resolution: 2dppx) {
    background-image:linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/hero/hero-768@2x.jpg);
  }

  @media (min-resolution: 3dppx) {
    background-image:linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/hero/hero-768@3x.jpg);
  }

  @media screen and (min-width: $desktop) {
    background-image:linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/hero/hero-1600@1x.jpg);
  }
  @media (min-resolution: 2dppx) {
    background-image:linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/hero/hero-1600@2x.jpg);
  }

  @media (min-resolution: 3dppx) {
    background-image:linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/hero/hero-1600@3x.jpg);
  }

}

.hero_btn {
  color: $button-text-color;
  background-color: $button-bg-color;
  text-align: center;

  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;

  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-bezier;

  &:hover,
  &:focus {
    background-color: #188ce8;
    cursor: pointer;
  }
}
