.hero {
  text-align: center;

  padding-top: 118px;
  padding-bottom: 188px;
}

.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  color: #ffffff;

  text-align: center;
  text-transform: uppercase;
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/hero-480@1x.jpg);
  background-position: center;
  background-size: cover;
  background-color: $secondary-bg-color;
}

@media screen and (max-width: 479.99px) {
  .overlay {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/hero-480@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero/hero-480@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      .overlay {
        background-image: linear-gradient(
            to left,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/hero/hero-480@3x.jpg);
      }
    }
  }
}
@media screen and (min-width: $mobile) {
  .overlay {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/hero-768@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero/hero-768@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      .overlay {
        background-image: linear-gradient(
            to left,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/hero/hero-768@3x.jpg);
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .overlay {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/hero-1600@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero/hero-1600@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      .overlay {
        background-image: linear-gradient(
            to left,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/hero/hero-1600@3x.jpg);
      }
    }
  }
}

.hero_btn {
  color: $button-text-color;
  background-color: $button-bg-color;
  text-align: center;

  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;

  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-bezier;

  &:hover,
  &:focus {
    background-color: #188ce8;
    cursor: pointer;
  }
}
