.logo {
  

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;


  @media screen and (max-width: 767.9px) {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 0;
    
    
  }
  @media screen and (min-width: $desktop) {
   
    justify-content: flex-start;
    margin-right:93px;
    padding: 0%;
    
  
  }
}
.logo__web {
  color: $logo-web-color;
}

.logo__studio {
  color: #000000;
}

.logo__studio--white-color {
  display: flex;
  color: #ffffff;
  margin-bottom: 20px;


  
  @media screen and (min-width: $tablet) {
    
    
  }
  @media screen and (min-width: $desktop) {
   
  
  
  }
}
