.nav {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.nav__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-left: 88px;

  list-style: none;
  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.07;

  @media screen and (max-width: 767.9px) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    // display:flex;
  }
}

.nav__item {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.nav__link {
  position: relative;

  list-style: none;
  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  display: block;
  margin-left: 0;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.nav__link--active {
  color: $accent-color;
}

.nav__link--active::after {
  content: " ";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;

  margin: 0;
  padding: 0;
  background-color: $accent-color;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__btn {
//  position: fixed;
//  top: 15px;
//  right: 15px;
  display: inline-flex;
  justify-content: center;
  align-content: center;

  padding: 0%;
  margin: 0;
  border: none;
  background-color: transparent;

  color: $primary-text-color;
  fill: currentColor;

  z-index: 10;


  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-bezier;


  &:hover {
    color: $accent-color;
  }

  @media screen and (max-width: 767.9px) {
    margin-left: auto;
  }

  @media screen and (min-width: 767.9px) {
    display: none;
  }
}

.nav__btn .nav-btn__close {
  display: none;
}

.nav__btn.is-open .nav-btn__close {
  display: block;
}

.nav__btn.is-open .nav-btn__menu {
  display: none;
}
