.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  overflow-y: scroll;

  display: none;

  background-color: #ffffff;
  padding: 48px 40px;

  z-index: 1;

  & ul {
    list-style: none;
    // margin: 0;
    padding: 0;
  }
}

.nav-menu__list {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.nav-menu__item {
  & + & {
    margin-top: 30px;
  }
}

.nav-menu__link {
  text-decoration: none;
  color: #212121;
}

.nav-menu.is-open {
  display: flex;
  flex-direction: column;
  

}

.nav-menu-authorization__list {
  
  margin-top: auto;
  color: #212121;
  margin-bottom: 64px;
}

.nav-menu-authorizationTel {
  color: $accent-color;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
.nav-menu-authorizationMail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #757575;
}

.nav-menu-social {
  display: flex;
  flex-wrap: wrap;

  margin: 0%;
  padding: 0%;
}

.nav-menu-social__item {
  display: flex;
  margin: 0;
  padding: 0%;
  color: $accent-color;


  &:not(:last-child):after {
    content: " ";
    width: 1px;
    height: 22px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(33, 33, 33, 0.2);
  }

  // & + &::before {
  //   content: " ";
  //   width: 1px;
  //   height: 22px;
  //   margin-left: 10px;
  //   margin-right: 10px;
  //   background-color: rgba(33, 33, 33, 0.2);
  // }
}

.nav-menu-social__link {


  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
  color: $accent-color;
  margin-right: 5px;


  
}


.nav-menu__link.nav-menu__link--active {
  color: $accent-color;
}
