.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.07;
}

.nav__link {
  position: relative;

  list-style: none;
  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  display: block;
  margin-left: 0;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration:$transition-duration;
  transition-timing-function: $timing-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
  }
   
}
.nav__link--active {
  color:$accent-color;
}

.nav__link--active::after {
  content: " ";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;

  margin: 0;
  padding: 0;
  background-color:$accent-color;
}

.nav__item + .nav__item {
  margin-left: 50px;
}


