.project {
    // display: flex;
    // flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
   

    @media screen and (min-width:$mobile) {
      margin:-15px;
       display: flex;
    flex-wrap: wrap;
    }

  }

  .project__item {
    position: relative;
    transition-property: transform;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-bezier;
  
    
    // margin-right: 30px;
    // margin-bottom: 30px;
   


    @media screen and (min-width:$mobile) {
      max-width: 370px;
    }

    @media screen and (min-width:$tablet) {
      display: flex;
      flex-wrap: wrap;  
      width: 354px;
     
      margin:15px;
      width: ((100%  - 2 * 30 px) / 2);   
    }
    
    @media screen and (min-width:$desktop) {
      width: ((100%  - 90 px) / 3);   
    }
    




  }
  
  .project___link {
    display: block;
  
    transition-property: box-shadow;
    transition-duration: $transition-duration;
    transition-timing-function:$timing-bezier;
  
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  
  .project___card {
    position: relative;
    overflow: hidden;
  }
  
  .project___overlay {
    position: absolute;
    top: 0;
  
    width: 100%;
    height: 100%;
  
    margin: 0;
    padding: 63px 24px;
  
    font-size: 18px;
    line-height: 1.56;

    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 1;

    transform: translateY(100%);
    transition-property: transform;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-bezier;
  }
  
  .project__item:hover .project___overlay {
    opacity: 1;
    transform: translateY(0%);
    
  }
  
  // .project__item:nth-of-type(3n-2) {
  //   margin-left: 0;
  // }
  // .project__item:nth-of-type(3n) {
  //   margin-right: 0;
  // }
  
  // .project__item:nth-last-of-type(-n + 3) {
  //   margin-bottom: 0;
  // }
  
  .project___title {
    color: $primary-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
  
    margin-top: 0;
    margin-bottom: 4px;
  }

  .project___text {
    color: $secondary-text-color;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.85;
  
    margin-top: 0;
    margin-bottom: 0;
  }

  .project___info {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }
  